.header {
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.header_list {
  list-style: none;
  display: flex;
}
.header_list__item:first-child {
  margin-right: auto;
}
.header_list__item:nth-child(2) {
  margin-right: 20px;
}
.header_list__item:last-child {
  margin-right: 50px;
}
.logo {
  font-size: large;
  color: cadetblue;
}
